#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=booktype

%:
	dh $@ --with python2,sphinxdoc --buildsystem=pybuild

override_dh_auto_test:
#	cd tests && ./start_functests.sh
#	cd tests && ./start_seleniumtests.sh
	cd tests && ./start_tests.sh
